html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root{
  height:100%;
}

/* Combine all input types with the ::placeholder pseudo-element */
input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder {
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("C:\Users\karthikeyansankar\Downloads\logoaxis.png") no-repeat;

}